.app-container {
  background: #f5b70a;
  border-radius: 10px;
}
.app-img {
  margin-bottom: -100px;
}
.app-content h5 {
  color: #fff;
}
.app-content h2 {
  color: #0a071a;
  font-weight: 600;
}
.app-content {
  padding-top: 50px;
}
.app-content p {
  color: #fff;
}
.btn-apple {
  background: #0a071a;
  border: none;
  color: #fff;
  padding: 7px 25px;
  border-radius: 5px;
}
.btn-google {
  color: #0a071a;
  border: none;
  background: #fff;
  padding: 7px 25px;
  border-radius: 5px;
}
.btn-google i {
  color: #0a071a;
}
.btn-apple:hover a {
  color: #fff;
}
.btn-google:hover a {
  color: #0a071a;
}
